asgiref==3.7.2
django==4.2.6
django-cors-headers==4.1.0
django-environ==0.10.0
django-filter==23.2
django-googledrive-storage==1.6.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
drf-spectacular==0.26.2
drf_nested_routers==0.93.4
flake8
gunicorn==20.1.0
humanize==4.6.0
isort==5.11.5
pillow==9.5.0
pre-commit==3.3.3
psycopg2==2.9.6
python-telegram-bot==13.15
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
whitenoise==6.5.0
httpx==0.24.1
django-allow-cidr
