asgiref==3.6.0
django
djangorestframework
drf_nested_routers==0.93.4
gunicorn==20.1.0
psycopg2==2.9.5
pytz==2022.7.1
sqlparse==0.4.3
django-environ==0.10.0
django-filter==22.1
drf-spectacular==0.26.0
django-cors-headers==3.14.0
flake8
isort
whitenoise==6.4.0
pyTelegramBotAPI==4.10.0
